@model StaffVM

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">
        <span>@Model.Name</span> - <span>@Model.Age</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Office</h5>
        <p class="card-text">@Model.Position</p>
        <p class="card-text">@Model.Startdate</p>
    </div>
</div>